body {
    font-family: Arial, sans-serif;
    text-align: center; /* Center text */
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

#signupContainer {
    margin: 20px auto; /* Center the signup button */
}

#signupButton {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#signupButton:hover {
    background-color: #45a049;
}

#registration {
    margin-top: 20px;
}

#usernameInput {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
}

#playerSelectionContainer {
    margin: 20px auto;
}

#playerForm {
    display: flex;
    flex-direction: column; /* Stack players vertically */
}

#leaderboardTable {
    margin: 20px auto;
    border-collapse: collapse;
    width: 50%; /* Adjust table width */
}

#leaderboardTable, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}
